@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

.App {
  height: 1500px;
  background: cornflowerblue;
}

.font_righteous {
  font-family: 'Righteous', cursive;
  font-size: 2.5rem;
}

.font_roboto {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.toolbar {
  justify-content: space-between;
}

.icon-buttons {
  justify-content: flex-end;
}

.MuiIconButton-edgeEnd {
  margin-right: -1150px !important;
}

.artist_name {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 160px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid white;

  & .wrapper {
    border: 2px solid white;
    height: 121px;
    margin: 6px;
    text-align: center;

    font-size: 40px;
    padding: 21px 70px 0px 70px;
    text-transform: uppercase;
    background-color: rgba(255,255,255, .2);
  }

  & .band_name {
    color: white;
    opacity: 2;
  }
}

.carrousel_wrapper {
  height:100vh;
  overflow: hidden;
}

.carrousel_image {
  background-size: cover !important;
}

/*====================
        COUNTDOWN
======================*/

.countdown_wrapper {
  position:absolute;
  bottom: 0px;
  color:#ffffff;
}

.countdown_wrapper .countdown_top {
  background: #1cbc9d;
  font-size: 19px;
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
}

.countdown_wrapper .countdown_bottom {
  display: flex;
  background: #10ac84;
  padding: 10px 20px;
}

.countdown_wrapper .countdown_time {
  font-size: 70px;
  border-right: 1px solid ghostwhite;
  margin-right: 14px;
  padding-right: 49px;
}
.countdown_wrapper .countdown_item:last-child .countdown_time{
  border:none;
}

.countdown_wrapper .countdown_tag {
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 7px;
}
